@mixin maxWidth1920px {
    @media screen and (max-width: 1920px) {
        width: 1376px;
        .header-fixed {
            .header-content {
                width: 1376px;
            }

            .post-list-nav-bar-container {
                width: 1376px;
            }
        }
    }
}

@mixin maxWidth1440px {
    @media screen and (max-width: 1440px) {
        width: 1024px;
        .header-fixed {
            .header-content {
                width: 1024px;
            }

            .post-list-nav-bar-container {
                width: 1024px;
            }
        }
    }
}

@mixin maxWidth1056px {
    @media screen and (max-width: 1056px) {
        width: calc(100% - 2rem);
        margin: 0 auto;
        .header-fixed {
            margin: 0 auto;

            .header-content {
                width: calc(100% - 2rem);
            }

            .post-list-nav-bar-container {
                width: calc(100% - 2rem);
            }
        }
    }
}

@mixin maxWidth1024px {
    @media screen and (max-width: 1024px) {
        .logo {
            font-size: 1.25rem;
        }
        .right-icons-container {
            .new-post {
                display: none;
            }
        }
    }
}

@mixin minWidth250px {
    @media screen and (max-width: 250px) {
        width: 250px;
        .header-fixed {
            .header-content {
                width: 250px;
            }
            .post-list-nav-bar-container {
                width: 250px;
            }
        }
    }
}