* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text1);
    background: var(--bg-page2);
    transition: background-color 0.2s;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--text1);
}

input {
    outline: none;
}
